
			<!-- this appears only in small devices < 768px -->
			<div class="row mt-3 hidden-md-up">
				<div class="col-12 cardlike">
					<img class="img-fluid" src="/img/teaser2.jpg" alt="teaser">
					{{#if defmsg}}
						<h4 class="card-title">{{I18n "reset.TITLE"}}</h4>
						<p class="card-text">{{I18n "reset.SUB"}}</p>
					{{/if}}	
					{{#if info}}
						<h4 class="card-title">{{I18n "reset.TITLE"}}</h4>
						<p class="card-text">{{ info }}</p>
					{{/if}}
					{{#if error}}
						<h4 class="card-title">{{I18n "reset.err.TITLE"}}</h4>
						<p class="card-text">{{ error }}</p>
					{{/if}}
				</div>
			</div>
				
			<div class="row mt-4">

				<div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
			
					<!-- this appears only in large devices >= 768px -->
					<div class="card sidecard hidden-sm-down">
						<img class="card-img-top" src="/img/teaser2.jpg" alt="teaser">
						<div class="card-block">
						{{#if defmsg}}
							<h4 class="card-title">{{I18n "reset.TITLE"}}</h4>
							<p class="card-text">{{I18n "reset.SUB"}}</p>
						{{/if}}	
						{{#if info}}
							<h4 class="card-title">{{I18n "reset.TITLE"}}</h4>
							<p class="card-text">{{ info }}</p>
						{{/if}}
						{{#if error}}
							<h4 class="card-title">{{I18n "reset.err.TITLE"}}</h4>
							<p class="card-text">{{ error }}</p>
						{{/if}}
						</div>
					</div>
				
					<div class="card">
						<div class="card-block">
							<form class="form" role="form" autocomplete="off" action="/reset" method="post" enctype="application/x-www-form-urlencoded">
								<div class="form-group">
									<label for="inputEmail" class="mb-0">{{I18n "reset.EMAIL"}}</label>
									<label for="errorEmail" class="mb-0 errlabel"></label>
									<input type="email" class="form-control" id="inputEmail" name="email" maxlength="30" value="{{xform.email}}" placeholder="">
								</div>
								<div class="form-group">
									<button type="submit" class="btn form-btn float-right">{{I18n "reset.ACTIVATE"}}</button>
								</div>
							</form>
						</div>
					</div>
					
				</div>
				
			</div>
			
			<script language="javascript" src="/ext/socket.io.js"></script>
			<script>
			
				$(document).ready(function() {
					
					// socket to server
					var socket = io();					
					
					// events to server (on load) preserve user input
					var inpemail = $('input[name=email]').val();
					if (inpemail) socket.emit('inpEmail', inpemail);
						
					// events to server (on focusout)
					$('input[name=email]').focusout(function() {
						var inpemail = $('input[name=email]').val();
						socket.emit('inpReset', inpemail);
					});
					
					// events from server (update info labels)
					socket.on('infoReset', function(msg) {
						$('label[for=errorEmail]').text(msg.txt).css('color', msg.color);
					});
					
				});
				
			</script>